<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="row flex-column gap-2 flex-sm-row gap-sm-0">
  <div class="col">
    <swp-list-details
        [list]="list"
        [headingLevel]="3"
        [headingDisplayLevel]="6"
    ></swp-list-details>

    <button
        type="button"
        class="btn btn-sm btn-link align-with-text mt-1"
        (click)="collapse.toggle()"
        [attr.aria-expanded]="!areDetailsCollapsed"
    >
      <swp-icon [name]="areDetailsCollapsed ? 'chevron-down' : 'chevron-up'"></swp-icon>
      <span>{{ 'listselection.listresult.details' | translate }}</span>
    </button>
  </div>

  <div class="col-sm-3">
    <button
        class="btn btn-outline-dark w-100"
        type="button"
        (click)="selectList()"
    >
      <swp-icon name="check2"></swp-icon>
      <span aria-hidden="true">{{ 'listselection.listresult.select' | translate }}</span>
      <span class="visually-hidden">
        {{ 'listselection.listresult.select.screenreader' | translate }} {{list.details?.listType_attribute1}}
      </span>
    </button>
  </div>
</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="areDetailsCollapsed">
  <div class="card card-body">
    <ul class="list-unstyled m-0">
      <li *ngFor="let candidate of candidates">
        {{candidate.details.candidateType_attribute1}}
      </li>
      <li *ngIf="list.details?.listType_apparentment">
        {{list.details?.listType_apparentment}}
      </li>
      <li *ngIf="list.details?.listType_sousApparentment">
        {{list.details?.listType_sousApparentment}}
      </li>
    </ul>
  </div>
</div>
