<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<!--
    The following code tries to cover all cases with the possible combinations
    between alliance and cumuls. It needs some JS refactor and uses new values:

      isCumulAllowed               -> to check if cumul is allowed for the current candidate
      candidateCumul -> the current candidate cumul value
      candidateMaxAllowedCumul     -> the maximum cumul value for the given candidate (depends
                                      on the max allowed cumul of the contest and the initial
                                      cumul of the candidate)
-->

<div class="row flex-column gap-2 flex-sm-row gap-sm-0">
  <div class="col">
    <h3 class="h6" *ngIf="candidate.isWriteIn; else candidateDetails">
      {{ 'candidateselection.candidateresult.writeInPosition' | translate }}
    </h3>

    <ng-template #candidateDetails>
      <swp-candidate-details
          *ngIf="!candidate.isWriteIn"
          [candidate]="candidate"
          [headingLevel]="3"
          [headingDisplayLevel]="6"
          [showAllDetails]="true"
      ></swp-candidate-details>
    </ng-template>
  </div>
  <div class="col-sm-3">

    <!-- cases for the button below:
        1- No cumul allowed AND candidate not selected yet
        2- Cumul allowed AND candidate cumul has not reach the max
        3- Alliance allowed AND candidate has not been selected in another list
    -->
    <button
        (click)="selectCandidate()"
        *ngIf="!isSelectedOnCurrentPosition && !isAliasSelected && ((!isCandidateSelected) || (isCumulAllowed && candidateCumul < candidateMaxAllowedCumul))"
        [disabled]="isSelectedOnCurrentPosition"
        [attr.aria-describedby]="isCumulMessageShown ? 'candidate-cumul-message' : undefined"
        class="btn btn-outline-dark w-100"
        type="button"
    >

      <!-- subcases:
          1- No cumul allowed AND candidate not selected yet
          2- Cumul allowed AND candidate cumul has not reach the max
          2.1- Candidate has no cumul yet
          3- Alliance allowed AND candidate has not been selected in another list
      -->
      <ng-container *ngIf="!isCumulAllowed || (candidateCumul === 0) || isSelectedOnCurrentPosition">
        <swp-icon name="check2"></swp-icon>
        <span aria-hidden="true">{{ 'candidateselection.candidateresult.select' | translate }}</span>
        <span class="visually-hidden">
          {{ 'candidateselection.candidateresult.select.screenreader' | translate }}
          {{candidate.details.candidateType_attribute1}}
        </span>
      </ng-container>

      <!-- subcases:
          2- Cumul allowed AND candidate cumul has not reach the max
          2.2- Candidate has some cumul
      -->
      <ng-container
          *ngIf="!candidate.isWriteIn && candidateCumul > 0 && candidateCumul < candidateMaxAllowedCumul && !isSelectedOnCurrentPosition"
      >
        <swp-icon name="plus-lg"></swp-icon>
        <span aria-hidden="true">{{ 'candidateselection.candidateresult.cumulate' | translate }}</span>
        <span class="visually-hidden">
          {{ 'candidateselection.candidateresult.cumulate.screenreader' | translate }}
          {{candidate.details.candidateType_attribute1}}
        </span>
      </ng-container>

    </button>

    <!-- cases for the div below:
        1- No cumul allowed AND candidate already selected
        2- Cumul allowed AND candidate cumul has reach the max
    -->
    <button
        *ngIf="isSelectedOnCurrentPosition || (!isCumulAllowed && isCandidateSelected) || (candidateCumul === candidateMaxAllowedCumul)"
        [attr.aria-describedby]="isCumulMessageShown ? 'candidate-cumul-message' : undefined"
        class="btn btn-outline-dark w-100"
        disabled
        type="button"
    >
      {{ 'candidateselection.candidateresult.selected' | translate }}
    </button>

    <!-- cases for the div below:
        1- Alliance allowed AND candidate already selected in another list
    -->
    <button
        *ngIf="isAliasSelected"
        [attr.aria-describedby]="isCumulMessageShown ? 'candidate-cumul-message' : undefined"
        class="btn btn-outline-dark w-100"
        disabled
        type="button"
    >{{ 'candidateselection.candidateresult.selectedinanotherlist' | translate }}</button>

    <!-- show only if the candidate has some cumul -->
    <p
        *ngIf="isCumulMessageShown"
        id="candidate-cumul-message"
        class="small text-muted text-center fst-italic mb-0 mt-1"
    >

      <!-- subcase: The candidate cumul has not reach the max -->
      <ng-container *ngIf="(candidateCumul < candidateMaxAllowedCumul) && !isSelectedOnCurrentPosition">
        {{ 'candidateselection.candidateresult.alreadyselected' | translate }}
      </ng-container>

      <!-- subcase: The candidate has been already selected on the current position -->
      <ng-container *ngIf="(candidateCumul < candidateMaxAllowedCumul) && isSelectedOnCurrentPosition">
        {{ 'candidateselection.candidateresult.alreadyselectedonposition' | translate }}
      </ng-container>

      <!-- subcase: The candidate cumul has reach the max -->
      <ng-container *ngIf="(candidateCumul === candidateMaxAllowedCumul)">
        {{ 'candidateselection.candidateresult.maximumcumulreached' | translate }} ({{ candidateMaxAllowedCumul }})
      </ng-container>

    </p>
  </div>
</div>
