// status-box
// ----------------------------------------

@use 'variables';

.status-box {
  padding: (variables.$layout-gutter-width * .5) variables.$layout-gutter-width;
  background-color: variables.$status-box-bg;
  color: variables.$status-box-text;
  box-shadow:0 1px 3px 0 rgba(0, 0, 0, .2),0 1px 1px 0 rgba(0, 0, 0, .14),0 2px 1px -1px rgba(0, 0, 0, .12);
  font-size: .875em;

  .md-title {
    margin: .4em 0;
  }

  hr {
    margin: .5em 0 1em;
    border: none;
    box-shadow: 0 1px rgba(0, 0, 0, .12);
    height: 1px;
  }
}

.status-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 0 (variables.$layout-gutter-width * 2);

  [dir="rtl"] & {
    padding: 0 (variables.$layout-gutter-width * 2) 0 0;
  }
}

.status-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9em;
  margin: .25em 6em .25em 0;
  line-height: 1.5em;
}

.status-batch-title {
  display: flex;
  width: 10em;
  margin: 1.063em 1em 0 0;
  line-height: 1.5em;
  font-size: 1.143em;

  [dir="rtl"] & {
    margin: 1.438em 0 0 1em;
  }
}

.status-batches {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.status-batch-item {
  width: 10em;
  min-width: 10em;
  margin: .75em (variables.$layout-gutter-width * 2) .5em 0;

  [dir="rtl"] & {
    margin: .75em 0 .5em (variables.$layout-gutter-width * 2);
  }

  font-size: .857em;
  letter-spacing: .020em;

  > * {
    margin: (variables.$layout-gutter-width * .5) 0;

    &:first-child {
      margin-top: 0;
    }
  }
}
