// tabs
// ----------------------------------------

@use 'variables';

.md-main-tabs {
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2),0 1px 1px 0 rgba(0, 0, 0, 0.14),0 2px 1px -1px rgba(0, 0, 0, 0.12);
  z-index: 1;

  md-tabs-wrapper {
    background-color: variables.$tabs-bg;
    color: variables.$tabs-text;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  .md-tab,
  .md-tab md-icon, {
    color: variables.$tabs-text;
  }

  .md-tab {
    &.md-active,
    &.md-active md-icon {
      color: variables.$tabs-text-active;
    }

    &:focus,
    &:hover,
    &.md-focused,
    &.md-focused md-icon {
      background-color: variables.$tabs-bg-focus;
      color: variables.$tabs-text-active;
    }
  }

  md-ink-bar {
    height: 4px;
    color: variables.$tabs-ink-bar;
    background: variables.$tabs-ink-bar;
  }

  md-icon {
    color: variables.$tabs-text-active;
  }
}
