<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<swp-questions
    [contest]="contestVerifyData?.contest"
    [contestUserData]="contestVerifyData?.contestUserData"
    [headingLevel]="4"
    [leftColumnTemplate]="answer"
    [rightColumnTemplate]="choiceCode"
    class="mt-bigger-big"
></swp-questions>

<ng-template #answer let-answer="answer" let-question="question">
  <p *ngIf="answer" class="word-break h5 fw-bold mb-0">{{ answer }}</p>
  <span class="visually-hidden" *ngIf="answer === question?.blankOption?.text">{{
    'common.screenreader.nooptionselected' | translate
    }}</span>
</ng-template>

<ng-template #choiceCode let-i="questionIndex">
  <ng-container *ngIf="contestVerifyData?.choiceReturnCodes as choiceReturnCodes">
    <span class="visually-hidden">{{
      'verify.main.yourchoicecode' | translate
      }}</span>
    <p class="word-break ps-3 h4 mb-0">{{ choiceReturnCodes[i] }}</p>
  </ng-container>
</ng-template>
