<!--
  ~ (c) Copyright 2022 Swiss Post Ltd
  -->
<md-dialog ng-class="{'full-screen': true}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="flex">
        <span ng-if="ctrl.isConstitutionMode() && ctrl.isAdministrationBoardType()" translate>Constitute administration board</span>
        <span ng-if="ctrl.isConstitutionMode() && ctrl.isElectoralBoardType()" translate>Constitute electoral board</span>
        <span ng-if="ctrl.isActivationMode() && ctrl.isAdministrationBoardType()" translate>Activate administration board</span>
        <span ng-if="ctrl.isActivationMode() && ctrl.isElectoralBoardType()" translate>Activate electoral board</span>
        {{ctrl.config.selectedBoard.alias}}
      </h2>
      <div>
        <md-button aria-label="{{'Close dialog' | translate}}" class="md-icon-button" ng-click="ctrl.closeDialog()" ng-if="!ctrl.twoStepsClosing">
          <md-icon md-svg-src="assets/icons/ic_close_24px.svg"></md-icon>
        </md-button>
        <div class="constitute-manager-close-question" ng-if="ctrl.twoStepsClosing">
          <span translate>Confirm close?</span>
          <md-button aria-label="{{'Close dialog' | translate}}" class="md-icon-button" ng-click="ctrl.exitDialog()">
            <span translate>Yes</span>
          </md-button>
          <md-button aria-label="{{'Close dialog' | translate}}" class="md-icon-button" ng-click="ctrl.discardClose()">
            <span translate>No</span>
          </md-button>
        </div>
        <div class="constitute-manager-close" ng-if="ctrl.twoStepsClosing">
          <span ng-show="ctrl.isConstitutionMode()">{{'Please note that if you cancel the Constitution process at this stage you will need to start it again from scratch. You may not be able to reuse any of the passwords that you set so far.' | translate }}</span>
          <span ng-show="ctrl.isActivationMode()">{{'Please note that if you cancel the Activation process at this stage you will need to start it again from scratch.' | translate }}</span>
        </div>
      </div>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content" role="document" tabindex="-1">
    <div class="md-dialog-content-body">

      <div class="constitute-manager-wrapper">
        <div>
          <p ng-show="ctrl.isConstitutionMode()">
            {{'To constitute the board please choose a password for each member of the' | translate}}
            {{ctrl.config.selectedBoard.defaultTitle}}
          </p>
          <p ng-show="ctrl.isActivationMode()">
            {{'To activate the board please enter the password for each member of the' | translate}}
            {{ctrl.config.selectedBoard.defaultTitle}}
          </p>
          <md-button class="md-raised md-primary"
                     id="submitPasswordsButton"
                     ng-click="ctrl.submitPasswords()"
                     ng-disabled="ctrl.isSubmitPasswordsDisabled()"
                     title="{{(ctrl.isConstitutionMode() ? 'Constitute' : 'Activate') | translate}}">
            <md-icon md-svg-src="assets/icons/ic_admin_board.svg"></md-icon>
            <span class="hide-xs" translate>{{(ctrl.isConstitutionMode() ? 'Constitute' : 'Activate') | translate}}</span>
          </md-button>
          <hr>
        </div>
        <div class="constitute-manager">
          <div class="constitute-manager-members">
            <md-list>
              <md-list-item ng-repeat="member in ctrl.config.selectedBoardMembers track by $index">
                <md-button id="memberButton_{{$index}}"
                           ng-class="{'is-current': ctrl.currentMember === member && !ctrl.membersStatusDone[member], 'is-done': ctrl.membersStatusDone[member]}"
                           ng-click="ctrl.selectMember(member);"
                           ng-disabled="ctrl.currentMember === member || ctrl.membersStatusDone[member]">
                  <md-icon aria-label="{{'Member' | translate}}" class="icon-idle"
                           md-svg-src="assets/icons/ic_person_24px.svg"></md-icon>
                  <md-icon aria-label="{{'Current' | translate}}" class="icon-current"
                           md-svg-src="assets/icons/ic_arrow_forward_24px.svg"></md-icon>
                  <md-icon aria-label="{{'Done' | translate}}" class="icon-done"
                           md-svg-src="assets/icons/ic_done_24px.svg"></md-icon>
                  {{member}}
                </md-button>
              </md-list-item>
            </md-list>
          </div>
          <div class="constitute-manager-card">
            <div class="constitute-manager-member">
              <h3 class="constitute-manager-member-title md-margin md-display-1">{{ctrl.currentMember}}</h3>
              <div class="constitute-manager-member-interaction">
                <div ng-if="!ctrl.isMemberInSelectionProcess && !ctrl.membersStatusDone[ctrl.currentMember]">
                  <div>
                    <md-input-container class="large-input">
                      <label ng-show="ctrl.isConstitutionMode()" translate>Choose a password</label>
                      <label ng-show="ctrl.isActivationMode()" translate>Please enter your password</label>
                      <input id="mainPasswordInput" ng-class="{'board-password': !ctrl.isPasswordVisible}"
                             ng-disabled="ctrl.isMemberInSelectionProcess"
                             ng-keyup="ctrl.mainPasswordKeyup($event)" ng-model="ctrl.mainPassword.value"
                             type="{{ctrl.isPasswordVisible ? 'text' : 'password'}}">
                    </md-input-container>
                  </div>
                  <div ng-show="ctrl.isConstitutionMode()">
                    <md-input-container class="large-input">
                      <label translate>Confirm password</label>
                      <input id="confirmPasswordInput" ng-class="{'board-password': !ctrl.isPasswordVisible}"
                             ng-disabled="ctrl.mainPassword.value.length === 0 || ctrl.isMemberInSelectionProcess"
                             ng-keyup="ctrl.confirmPasswordKeyup($event)" ng-model="ctrl.confirmPassword.value"
                             type="{{ctrl.isPasswordVisible ? 'text' : 'password'}}">
                    </md-input-container>
                  </div>
                  <div ng-show="ctrl.isConstitutionMode()">
                    <p>{{'The password must at least satisfy this policy:' | translate}}</p>
                    <ul class="password-policy-list">
                      <li>
                        <span ng-show="ctrl.isPasswordHasBeenValidated">
                          <md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg"
                                   ng-show="!ctrl.isPasswordLengthError"></md-icon>
                          <md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg" ng-show="ctrl.isPasswordLengthError"></md-icon>
                        </span>
                        {{'A length between 24 and 64 characters.' | translate}}
                      </li>
                      <li>
                        <span ng-show="ctrl.isPasswordHasBeenValidated">
                          <md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg" ng-show="!ctrl.isPasswordDigitError"></md-icon>
                          <md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg" ng-show="ctrl.isPasswordDigitError"></md-icon>
                        </span>
                        {{'It must contain at least 1 digit.' | translate }}
                      </li>
                      <li>
                        <span ng-show="ctrl.isPasswordHasBeenValidated">
                          <md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg"
                                   ng-show="!ctrl.isPasswordSpecialError"></md-icon>
                          <md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg"
                                   ng-show="ctrl.isPasswordSpecialError"></md-icon>
                        </span>
                        {{'It must contain at least 1 special character.' | translate }}
                      </li>
                      <li>
                        <span ng-show="ctrl.isPasswordHasBeenValidated">
                          <md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg"
                                   ng-show="!ctrl.isPasswordLowercaseError"></md-icon>
                          <md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg"
                                   ng-show="ctrl.isPasswordLowercaseError"></md-icon>
                        </span>
                        {{'It must contain at least 1 lowercase character.' | translate }}
                      </li>
                      <li>
                        <span ng-show="ctrl.isPasswordHasBeenValidated">
                          <md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg"
                                   ng-show="!ctrl.isPasswordUppercaseError"></md-icon>
                          <md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg"
                                   ng-show="ctrl.isPasswordUppercaseError"></md-icon>
                        </span>
                        {{'It must contain at least 1 uppercase character.' | translate }}
                      </li>
                      <li>
                        <span ng-show="ctrl.isPasswordHasBeenValidated">
                          <md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg"
                                   ng-show="ctrl.isCurrentMemberPasswordMatch"></md-icon>
                          <md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg"
                                   ng-show="!ctrl.isCurrentMemberPasswordMatch"></md-icon>
                        </span>
                        {{'It must match the \'Confirm password\' input.' | translate }}
                      </li>
                    </ul>
                  </div>
                  <div>
                    <md-button aria-label="Toggle password visibility" class="md-icon-button md-primary" ng-click="ctrl.togglePasswordVisibility()">
                      <md-icon md-svg-icon="assets/icons/ic_visibility_24px.svg"></md-icon>
                    </md-button>
                    <label class="small" ng-click="ctrl.togglePasswordVisibility()" ng-show="ctrl.isPasswordVisible" translate>Hide password</label>
                    <label class="small" ng-click="ctrl.togglePasswordVisibility()" ng-hide="ctrl.isPasswordVisible" translate>Show password</label>
                    <md-button class="md-primary md-raised align-right" ng-click="ctrl.validatePassword()"
                               ng-disabled="ctrl.isValidatePasswordButtonDisabled()">
                      <span translate>Ok</span>
                    </md-button>
                  </div>
                </div>
                <div ng-if="ctrl.isMemberInSelectionProcess">
                  <p class="md-title text-center">
                    <md-icon aria-label="{{'Validating password...' | translate}}" class="spin"
                             md-svg-src="assets/icons/ic_spinner_24px.svg"></md-icon>
                    <span>{{'Validating password...' | translate}}</span>
                  </p>
                </div>
                <div ng-if="!ctrl.isMemberInSelectionProcess && ctrl.membersStatusDone[ctrl.currentMember]">
                  <p class="md-title text-center">
                    <md-icon aria-label="{{'Password validated' | translate}}" class="icon-done"
                             md-svg-src="assets/icons/ic_done_24px.svg"></md-icon>
                    <span>{{'Password validated' | translate}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </md-dialog-content>
</md-dialog>
