<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<swp-contest-accordion
    *ngIf="contest"
    [cardClass]="formSubmitted && contestFormGroup?.invalid ? 'border border-2 border-danger' : ''"
    [id]="'contest-panel-' + contest.id"
    [subtitle]="this.accordionSubtitle$ ? (this.accordionSubtitle$ | async) : null"
    [title]="contest.title"
>
    <div class="contest-wrapper" id="contest-wrapper-{{ contest.id }}">
        <div class="contest">
            <p *ngIf="contest.howToVote" class="contest--instructions">
                {{ contest.howToVote }}
            </p>

            <swp-choose-questions
                *ngIf="contest.template === TemplateType.Options"
                [contestFormGroup]="contestFormGroup"
                [contest]="contest"
                [id]="'contest-' + contest.id"
            ></swp-choose-questions>

            <swp-choose-candidates
                *ngIf="contest.template === TemplateType.ListsAndCandidates"
                [contestFormGroup]="contestFormGroup"
                [contest]="contest"
                [id]="'contest-' + contest.id"
                [showErrors]="!!formSubmitted"
            >
            </swp-choose-candidates>
        </div>
    </div>
</swp-contest-accordion>
