<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<ng-container *ngIf="configuration.header as headerConfig">
  <nav [style.background]="headerConfig.background" class="navbar navbar-expand-md navbar-light border-bottom">
    <!-- Skip link -->
    <div class="position-absolute top-0 start-0">
      <a [routerLink]="skipLink$ | async" class="btn btn-light rounded-0 visually-hidden-focusable" fragment="main">
        <span>{{ 'common.skipLink' | translate }}</span>
        <swp-icon name="chevron-right"></swp-icon>
      </a>
    </div>

    <!-- Navigation -->
    <div
        [class.flex-row-reverse]="headerConfig.reverse"
        class="container justify-content-between align-items-stretch flex-wrap"
    >
      <div class="navbar-brand m-0 p-0 flex-shrink-0">
        <img
            [alt]="'common.logoTitle' | translate"
            [height]="headerConfig.logoHeight.desktop"
            [src]="'assets/configuration/img/' + headerConfig.logoPath.desktop"
            class="d-none d-md-block"
        />
        <img
            [alt]="'common.logoTitle' | translate"
            [height]="headerConfig.logoHeight.mobile"
            [src]="'assets/configuration/img/' + headerConfig.logoPath.mobile"
            class="d-md-none"
        />
      </div>
      <button
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          [attr.aria-label]="(isCollapsed ? 'common.shownavigation' : 'common.hidenavigation') | translate"
          aria-controls="navbarNav"
          class="btn navbar-toggler rounded-0 border-0 my-2"
          type="button"
      >
        <swp-icon [class.collapsed]="isCollapsed" name="chevron-up"></swp-icon>
      </button>
      <div [(ngbCollapse)]="isCollapsed" class="navbar-collapse flex-grow-0" id="navbarNav">
        <div class="navbar-nav flex-row justify-content-between gap-3 py-2 py-md-0">
          <ul
              *ngIf="currentLang$ | async as currentLang"
              [attr.aria-label]="'common.appLanguage' | translate"
              class="navbar-nav flex-row" id="languageSelector"
          >
            <li *ngFor="let lang of availableLanguages" class="nav-item">
              <button
                  (click)="translateApp(lang.id)"
                  [attr.aria-current]="lang.id === currentLang ? true : undefined"
                  [class.active]="lang.id === currentLang"
                  [tabIndex]="lang.id === currentLang ? -1 : 0"
                  class="btn btn-link link-dark nav-link rounded-0"
                  type="button"
              >
                <span class="visually-hidden">{{ lang.label }}</span>
                <span aria-hidden="true">{{ lang.id | uppercase }}</span>
              </button>
            </li>
          </ul>
          <button
              (click)="showFAQ()"
              class="btn nav-link rounded-0"
              id="mainHelpButton"
              type="button"
          >
            <swp-icon name="question-circle"></swp-icon>
            <span>{{ 'common.help' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div aria-hidden="true" class="header-bar">
    <ng-container *ngFor="let bar of headerConfig.bars">
      <div
          [style.background-color]="bar.color"
          [style.height]="bar.height.desktop + 'px'"
          class="d-none d-md-block"
      ></div>
      <div
          [style.background-color]="bar.color"
          [style.height]="bar.height.mobile + 'px'"
          class="d-md-none"
      ></div>
    </ng-container>
  </div>
</ng-container>
