<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="container position-relative">
  <swp-backenderror class="sticky-top pt-1"></swp-backenderror>

  <h1 class="mt-5">{{ 'review.main.reviewandseal' | translate }}</h1>
  <p class="lead mt-2">
    {{ 'review.main.review' | translate }}
  </p>

  <div
      *ngFor="let contestAndValues of contestsAndValues$ | async"
      class="ballot-group my-5"
  >
    <swp-review-contest-container
        [contestAndValues]="contestAndValues"
    ></swp-review-contest-container>
  </div>

  <div
      class="alert alert-primary d-flex align-items-start gap-3"
      id="review-main-warning-aftersealingnochange"
  >
    <swp-icon name="info-circle-fill"></swp-icon>
    <div>
      <ng-container *translationList="'review.main.warning.aftersealingnochange'; key as warningParagraph">
        <p [innerHTML]="warningParagraph | translate"></p>
      </ng-container>
    </div>
  </div>

  <div class="footer-nav my-5 d-flex flex-column flex-sm-row gap-4">
    <button
        (click)="confirmSeal()"
        [disabled]="isLoading$ | async"
        aria-describedby="review-main-warning-aftersealingnochange"
        class="btn btn-dark btn-lg order-3"
        id="btn_seal_vote"
        type="button"
    >
      {{ 'review.main.sealballot' | translate }}
    </button>

    <button
        class="btn btn-link btn-lg order-1 me-auto"
        id="btn_back_to_choose"
        routerLink="/choose"
        type="button"
    >
      <swp-icon name="pencil-fill"></swp-icon>
      <span>{{ 'review.main.changechoices' | translate }}</span>
    </button>

    <button
        (click)="confirmCancel()"
        class="btn btn-link btn-lg order-2"
        id="btn_cancel"
        type="button"
    >
      <swp-icon name="x-lg"></swp-icon>
      <span>{{ 'common.cancelprocess' | translate }}</span>
    </button>
  </div>
</div>
