<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="container position-relative">
  <swp-backenderror
      [exclude]="[ErrorMessage.ConfirmationKeyIncorrect, ErrorMessage.ConfirmationKeyInvalid, ErrorMessage.ConfirmationAttemptsExceeded]"
      class="sticky-top pt-1"
  ></swp-backenderror>

  <p
      *ngIf="sentButNotCast$ | async"
      class="alert alert-warning d-flex align-items-start gap-3"
      id="warningSentButNotCast"
      role="alert"
  >
    {{ 'verify.warning.abandonedprocess' | translate }}
  </p>

  <h1 class="mt-5">{{ 'verify.main.verifyandcast' | translate }}</h1>
  <p class="lead mt-2">
    {{ 'verify.main.seegeneratedchoices' | translate }}
  </p>

  <div class="card my-5">
    <div class="card-header">
      <h2 class="card-title gap-3 h4">
        <swp-icon class="voting-card-symbol" name="voting-card-diamond"></swp-icon>
        <span>{{ 'verify.main.choicecodes' | translate }}</span>
      </h2>
      <button
          (click)="showFAQ(FAQSection.WhatAreChoiceReturnCodes)"
          class="btn btn-link"
          id="show-faq-choice-codes-link"
          type="button"
      >
        <swp-icon name="question-circle"></swp-icon>
        <span>{{ 'verify.main.choicecodes.help' | translate }}</span>
      </button>
    </div>
    <div
        *ngIf="sendVoteResponseAndContests$ | async as data"
        class="card-body"
    >
      <div
          *ngFor="let contestVerifyData of data; first as isFirst"
          [class.mt-5]="!isFirst"
          class="ballot-group"
      >
        <swp-verify-contest-container
            [contestVerifyData]="contestVerifyData"
        ></swp-verify-contest-container>
      </div>
    </div>
  </div>

  <form
      #keyForm="ngForm"
      (ngSubmit)="cast()"
      [formGroup]="confirmationKeyForm"
      autocomplete="off"
      novalidate
  >
    <p class="lead">
        <span>{{
            'verify.main.docodesmatch' | translate
          }}</span>

      <br/>

      <button
          (click)="showFAQ(FAQSection.WhatIfCodesDoNotMatch)"
          class="btn btn-link align-with-text"
          id="show-faq-codes-do-not-match-link"
          type="button"
      >
        <swp-icon name="question-circle"></swp-icon>
        <span>{{ 'verify.help.codesdonotmatch' | translate }}</span>
      </button>
    </p>

    <div class="card my-5">
      <div class="card-header">
        <h2 class="card-title h4">
          <label class="d-flex align-items-center gap-3" for="confirmationKey">
            <swp-icon class="voting-card-symbol" name="voting-card-pentagon"></swp-icon>
            <span>{{ 'verify.confirmationkey.label' | translate }}</span>
          </label>
        </h2>

        <button
            (click)="showFAQ(FAQSection.WhatIsConfirmationKey)"
            class="btn btn-link"
            id="show-faq-whatis-confirmationkey-link"
            type="button"
        >
          <swp-icon name="question-circle"></swp-icon>
          <span>{{ 'verify.confirmationkey.help' | translate }}</span>
        </button>
      </div>

      <div class="card-body">
        <swp-clearable-input buttonLabel="verify.confirmationkey.clear">
          <input
              #confirmationKeyInput
              [class.is-invalid]="keyForm.submitted && confirmationKey?.invalid || confirmationKeyInvalidBackendError.error || confirmationKeyIncorrectBackendError.error"
              [formControl]="confirmationKey"
              aria-describedby="confirmation-key-required confirmation-key-invalid confirmation-key-incorrect"
              class="form-control form-control-lg form-control-monospace"
              id="confirmationKey"
              inputmode="numeric"
              mask="0000 0000 0"
              required
              type="text"
          />
        </swp-clearable-input>

        <p
            *ngIf="confirmationKey?.invalid && keyForm.submitted && !confirmationKeyInvalidBackendError.error && !confirmationKeyIncorrectBackendError.error"
            class="alert alert-warning mt-3"
            id="confirmation-key-required"
        >
          {{ 'verify.confirmationkey.required' | translate }}
        </p>

        <swp-backenderror
            #confirmationKeyInvalidBackendError
            [includeOnly]="[ErrorMessage.ConfirmationKeyInvalid, ErrorMessage.ConfirmationAttemptsExceeded]"
            alertId="confirmation-key-invalid"
            class="mt-3"
        ></swp-backenderror>
		  
        <swp-backenderror
            #confirmationKeyIncorrectBackendError
            [includeOnly]="[ErrorMessage.ConfirmationKeyIncorrect]"
            alertId="confirmation-key-incorrect"
            class="mt-3"
        ></swp-backenderror>
      </div>
    </div>

    <div
        class="alert alert-primary d-flex align-items-start gap-3"
        id="verify-main-warning-voteiscast"
    >
      <swp-icon name="info-circle-fill"></swp-icon>
	  <div>
	    <ng-container *translationList="'verify.main.warning.voteiscast'; key as infoParagraph">
	      <p [innerHTML]="infoParagraph | translate"></p>
	    </ng-container>
	  </div>
    </div>

    <div class="footer-nav my-5 d-flex flex-column flex-sm-row-reverse gap-4">
      <div aria-live="polite" class="visually-hidden" role="region">
        <p *ngIf="isLoading$ | async">{{ 'common.loadingnextpage' | translate }}</p>
      </div>

      <button
          [disabled]="isLoading$ | async"
          aria-describedby="verify-main-warning-voteiscast"
          class="btn btn-dark btn-lg"
          id="btn_confirm_vote"
          type="submit"
      >
        {{ 'verify.main.castvote' | translate }}

        <span
            *ngIf="isLoading$ | async"
            aria-hidden="true"
            class="spinner-border spinner-border-sm"
            role="status"
        ></span>
      </button>

      <button
          (click)="confirmCancel()"
          class="btn btn-link btn-lg"
          id="btn_cancel"
          type="button"
      >
        <swp-icon name="box-arrow-right"></swp-icon>
        <span>{{ 'verify.leaveprocess' | translate }}</span>
      </button>
    </div>
  </form>
</div>
