/*
 * (c) Copyright 2023 Swiss Post Ltd.
 */
:host {
  display: block;
  position: relative;
}

.btn-clear {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 0;
}

.input-group > :host {
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;

  ::ng-deep > .form-control:focus {
    z-index: 3;
  }
}

.input-group.has-validation > :host:nth-last-child(n + 3) {
  ::ng-deep > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input-group:not(.has-validation) > :host:not(:last-child) {
  ::ng-deep > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
