/*
 * (c) Copyright 2023 Swiss Post Ltd.
 */

.form-check {
  .form-check-input[type=checkbox] {
    height: 1.5rem;
    width: 1.5rem;
  }
  .form-check-label {
    margin-left: 10px;
    line-height: 2.2rem;
  }
}