<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="container" [formGroup]="agreementForm">

	<ng-container *ngIf="additionalLegalTerms; else defaultLegalTermsTitle">
		<h1 class="mt-5">{{ additionalLegalTerms.mainTitle }}</h1>
		<h2 class="mt-5 mb-4">{{ additionalLegalTerms.additionalTitle }}</h2>
		<p *ngFor="let term of additionalLegalTerms.terms" [innerHTML]="term | markdown: { allowLinks: true, allowBlock : true }"></p>


		<div class="form-check checkbox-lg mt-4">
			<input class="form-check-input"
				   formControlName="additionalAgreement"
				   id="additional-agreement"
				   role="switch"
				   type="checkbox">
			<label class="form-check-label" for="additional-agreement">
				{{ additionalLegalTerms.confirm | translate }}
			</label>
		</div>

		<h2 class="mt-5">{{ 'legalterms.title' | translate }}</h2>
	</ng-container>

	<ng-template #defaultLegalTermsTitle>
		<h1 class="mt-5">{{ 'legalterms.title' | translate }}</h1>
	</ng-template>


	<p [innerHTML]="'legalterms.legalwarning' | translate" class="mt-4"></p>

	<ul class="mt-3">
		<li [innerHTML]="'legalterms.law.bullet1' | translate"></li>
		<li [innerHTML]="'legalterms.law.bullet2' | translate"></li>
		<li [innerHTML]="'legalterms.law.bullet3' | translate"></li>
		<li [innerHTML]="'legalterms.law.bullet4' | translate"></li>
		<li [innerHTML]="'legalterms.law.bullet5' | translate"></li>
	</ul>

	<div class="form-check checkbox-lg mt-4">
		<input class="form-check-input"
			   formControlName="defaultAgreement"
			   id="default-agreement"
			   role="switch"
			   type="checkbox">
		<label class="form-check-label" for="default-agreement">
			{{ 'legalterms.confirmcheck' | translate }}
		</label>
	</div>

	<div class="footer-nav my-5 d-flex flex-column flex-sm-row-reverse gap-4">
		<button
				(click)="agree()"
				class="btn btn-dark btn-lg"
				type="button"
				[disabled]="!agreementForm.valid"
		>
			{{ 'legalterms.agree' | translate }}
		</button>
	</div>
</div>
