<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="modal-header">
  <h1 class="h4 modal-title">{{ 'common.help' | translate }}</h1>
  <button
      type="button"
      class="btn-close"
      [attr.aria-label]="'common.close' | translate"
      (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <ngb-accordion [activeIds]="activeFAQSection ?? ''" [closeOthers]="true">

    <ng-container *ngIf="additionalFAQs$ | async as additionalFAQs">
      <ngb-panel
        *ngFor="let additionalFAQ of additionalFAQs"
        [title]="additionalFAQ.title">
        <ng-template ngbPanelContent>
          <div class="faq-content">
            <p *ngFor="let content of additionalFAQ.content" [innerHTML]="content | markdown: { allowLinks: true, allowBlock : true }"></p>
          </div>
        </ng-template>
      </ngb-panel>
    </ng-container>

    <ngb-panel [id]="FAQSection.HowToStart" [title]="'faq.howtostart.title' | translate">
      <ng-template ngbPanelContent>
        <div [ngSwitch]="configuration.identification" id="{{ FAQSection.HowToStart }}-content" class="faq-content">
          <p *ngSwitchCase="ExtendedFactor.YearOfBirth">
            {{ 'faq.howtostart.content.yob' | translate }}
          </p>
          <p *ngSwitchCase="ExtendedFactor.DateOfBirth">
            {{ 'faq.howtostart.content.dob' | translate }}
          </p>
          <p *ngSwitchDefault>
            {{ 'faq.howtostart.content.svk' | translate }}
          </p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel
        [id]="FAQSection.WhatIsVotingCard"
        [title]="'faq.whatisvotingcard.title' | translate"
    >
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.WhatIsVotingCard }}-content" class="faq-content">
          <ng-container *translationList="'faq.whatisvotingcard'; key as paragraph">
            <p [innerHTML]="paragraph | translate | markdown"></p>
          </ng-container>
          <ul>
            <ng-container *translationList="'faq.whatisvotingcard.listitem'; key as listItem">
              <li [innerHTML]="listItem | translate | markdown"></li>
            </ng-container>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.WhatIsStartVotingKey" [title]="'faq.whatisstartvotingkey.title' | translate">
      <ng-template ngbPanelContent>
        <div class="faq-content" id="{{ FAQSection.WhatIsStartVotingKey }}-content">
          <p [innerHTML]="'faq.whatisstartvotingkey' | translate | markdown"></p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.HowToMakeAChoice" [title]="'faq.howtomakeachoice.title' | translate">
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.HowToMakeAChoice }}-content" class="faq-content">
          <ng-container *translationList="'faq.howtomakeachoice'; key as paragraph">
            <p [innerHTML]="paragraph | translate | markdown"></p>
          </ng-container>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.CanIChangeSelection" [title]="'faq.canichangeselection.title' | translate">
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.CanIChangeSelection }}-content" class="faq-content">
          <ng-container *translationList="'faq.canichangeselection'; key as paragraph">
            <p [innerHTML]="paragraph | translate | markdown"></p>
          </ng-container>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.WhatAreChoiceReturnCodes" [title]="'faq.whatarechoicecodes.title' | translate">
      <ng-template ngbPanelContent>
        <div class="faq-content" id="{{ FAQSection.WhatAreChoiceReturnCodes }}-content">
          <ng-container *translationList="'faq.whatarechoicecodes'; key as paragraph">
            <p [innerHTML]="paragraph | translate | markdown"></p>
          </ng-container>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.WhatIsConfirmationKey" [title]="'faq.whatisconfirmationkey.title' | translate">
      <ng-template ngbPanelContent>
        <div class="faq-content" id="{{ FAQSection.WhatIsConfirmationKey }}-content">
          <ng-container *translationList="'faq.whatisconfirmationkey'; key as paragraph">
            <p [innerHTML]="paragraph | translate | markdown"></p>
          </ng-container>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel
        [id]="FAQSection.WhatIsVoteCastReturnCode"
        [title]="'faq.whatisvotecastreturncode.title' | translate"
    >
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.WhatIsVoteCastReturnCode }}-content" class="faq-content">
          <p [innerHTML]="'faq.whatisvotecastreturncode' | translate"></p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.WhatIfCodesDoNotMatch" [title]="'faq.whatifcodesdonotmatch.title' | translate">
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.WhatIfCodesDoNotMatch }}-content" class="faq-content">
          <ng-container *translationList="'faq.whatifcodesdonotmatch'; key as paragraph">
            <p [innerHTML]="paragraph | translate | markdown"></p>
          </ng-container>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel
            [id]="FAQSection.WhatIsDifferenceSealAndCast"
            [title]="'faq.whatisdifferencesealandcast.title' | translate"
    >
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.WhatIsDifferenceSealAndCast }}-content" class="faq-content">
          <ng-container *translationList="'faq.whatisdifferencesealandcast'; key as paragraph">
            <p [innerHTML]="paragraph | translate | markdown"></p>
          </ng-container>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.CanILeaveAnytime" [title]="'faq.canileaveanytime.title' | translate">
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.CanILeaveAnytime }}-content" class="faq-content">
          <ng-container *translationList="'faq.canileaveanytime'; key as paragraph">
            <p [innerHTML]="paragraph | translate | markdown"></p>
          </ng-container>
        </div>
      </ng-template>
    </ngb-panel>

    <ng-container *ngIf="configuration.contestsCapabilities.writeIns">
      <ngb-panel [id]="FAQSection.HowToUseWriteIns" [title]="'faq.howtousewritins.title' | translate">
        <ng-template ngbPanelContent>
          <div id="{{ FAQSection.HowToUseWriteIns }}-content" class="faq-content">
            <ng-container *translationList="'faq.howtousewritins'; key as paragraph">
              <p [innerHTML]="paragraph | translate | markdown"></p>
            </ng-container>
            <ul>
              <ng-container *translationList="'faq.howtousewritins.listitem'; key as listItem">
                <li [innerHTML]="listItem | translate | markdown"></li>
              </ng-container>
              <li>
                <span>{{ 'faq.howtousewritins.listitem.specialchar' | translate }}</span>
                <ul class="list-unstyled row mx-0 mt-2 border-start border-top">
                  <li *ngFor="let charSet of allowedCharacters.split(' ')"
                      class="col-12 col-sm-4 col-md-2 px-0 py-3 border-end border-bottom d-flex flex-wrap">
                    <span *ngFor="let char of charSet.split('')"
                          class="flex-fill px-2 fs-6 text-center">{{ char }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion>
</div>
