<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="modal-header">
  <h1 class="h4 modal-title">{{ 'listselection.title' | translate }}</h1>
  <button
      type="button"
      class="btn-close"
      [attr.aria-label]="'common.close' | translate"
      (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <form aria-controls="resultCount" class="mb-3" (submit)="searchTerm.setValue(searchTermInput.value)">
    <h2 class="no-styling">
      <label class="form-label" for="list-search--term">
        {{ 'listselection.namefilter.label' | translate }}
      </label>
    </h2>

    <div class="input-group">
      <swp-clearable-input buttonLabel="listselection.namefilter.clear">
        <input
            class="form-control"
            id="list-search--term"
            type="text"
            ngModel
            [ngModelOptions]="{ standalone: true }"
            #searchTermInput="ngModel"
        >
      </swp-clearable-input>
      <button id="list-search--submit" class="btn btn-outline-dark" type="submit">
        <swp-icon name="search"></swp-icon>
        <span class="d-none d-sm-inline">{{ 'listselection.namefilter.search' | translate }}</span>
        <span class="d-sm-none visually-hidden">{{ 'listselection.namefilter.search' | translate }}</span>
      </button>
    </div>
  </form>

  <p aria-live="polite" class="small fst-italic" id="resultCount">
    <!-- no search -->
    <ng-container *ngIf="!searchTerm.value && lists.length === 1">
      {{ 'listselection.searchresults.nosearch.singular' | translate: searchResultsArgs }}
    </ng-container>
    <ng-container *ngIf="!searchTerm.value && lists.length > 1">
      {{ 'listselection.searchresults.nosearch.plural' | translate: searchResultsArgs }}
    </ng-container>

    <!-- search and results -->
    <ng-container *ngIf="searchTerm.value && filteredLists.length === 1">
      {{ 'listselection.searchresults.numberofresults.singular' | translate : searchResultsArgs }}
    </ng-container>
    <ng-container *ngIf="searchTerm.value && filteredLists.length > 1">
      {{ 'listselection.searchresults.numberofresults.plural' | translate : searchResultsArgs }}
    </ng-container>

    <!-- search but no results -->
    <ng-container *ngIf="searchTerm.value && !filteredLists?.length">
      {{ 'listselection.searchresults.noresults' | translate }}
    </ng-container>
  </p>

  <h2 class="visually-hidden">
    {{ (searchTerm.value ? 'listselection.searchresults.title' : 'listselection.searchresults.title.nosearch') | translate }}
  </h2>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let list of filteredLists">
      <swp-list-selector [list]="list"></swp-list-selector>
    </li>
  </ul>
</div>