/*
 * (c) Copyright 2023 Swiss Post Ltd.
 */
@use "styles/bootstrap-overrides" as app;
@use "apps/e-vote/src/styles/mixins/outline";
@use "apps/e-vote/src/styles/functions/forced-colors";

.btn-close {
  &:focus-visible {
    @include outline.outer;
  }

  @media (forced-colors: active) {
    background-image: forced-colors.button-text(app.$btn-close-bg, app.$btn-close-color);
    opacity: 1;

    &:hover {
      background-image: forced-colors.highlight(app.$btn-close-bg, app.$btn-close-color);
    }
  }
}
